body {
  background-image: url('../img/background.jpg');
}

.container {
  margin-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, .9);
  border-radius: 6px;
}

.form-control:focus {
  border-color: rgba(5, 5, 5, 1);
  box-shadow: inset 0 1px 1px rgba(25, 25, 25, .6);
}

.btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(50, 50, 50, 1);
  border-color: rgba(25, 25, 25, 1);
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(25, 25, 25, 1);
  border-color: rgba(0, 0, 0, 1);
}

.btn:focus {
  color: rgba(255, 255, 255, 1);
}

#valid, #not-valid {
  display: none;
}
